.product__info {
  height: auto;
  border-radius: 8px;
  padding: 1rem;
}
.product__info > p {
  margin-bottom: 8px;
}

.info__name {
  font-size: 1.3rem;
  overflow: hidden;
}
.info__description {
  text-align: justify;
  color: rgb(51, 51, 51);
}
.info__price {
  font-size: 1.2rem;
  font-weight: bold;
}
.info__button {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background: #eeeded;
  padding: 8px 16px;
}

.product:hover {

  transform: translateY(-1%);
  transition: all 0.3s ease-out;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.product .info__button:hover {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #eeeded;
    background: #708c08;
    padding: 8px 16px;
  }

:root {
    --page--width: 1400px;
}

.product {
    height: auto;
    width: 335px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    /* margin: 8px auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    margin: 8px;
    width: 318px;
    flex-grow: 1;
  }
