.homescreen {
    /* max-width: 1400px; */
    margin: 1rem auto;
    margin-top: 60px;
    max-width: 80vw;
}

.homescreen__title {
    font-size: 1.5rem;
    color:#708C08;
    margin-top: 80px;
    margin-bottom: 1rem;
    margin-left: 8px;

}

.homescreen__products {
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

